<div class="grid-wrapper">
  <mat-grid-list
    cols="{{state.columns}}"
    rowHeight="{{state.rowHeight + state.rowUnit}}"
    gutterSize="{{state.gutter + state.gutterUnit}}"
  >
    <mat-grid-tile
      *ngFor="let item of data?.collection?.items"
      [colspan]="1"
      [rowspan]="1"
      [ngStyle]="{'background-image' : 'url(' + item.links[0].href + ')'}"
      (click)="openDialog(item)"
    >
    </mat-grid-tile>
  </mat-grid-list>
  <app-loading [ngClass]="{ 'activated': loading.getSubscribable() | async }"></app-loading>
</div>