@import 'scss/theme';

html, body { height: 100%; }
app-root { display: block; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.angular-universal-theme {
  $theme: $angular-universal-theme;
  @include angular-material-theme($theme);
  @include mat-theme-general-mixin($theme);
  @include mat-grid-mixin($theme);
  @include mat-overlay-container-mixin($theme);
  @include mat-base-typography($custom-typography);
  @include mat-checkbox-typography($custom-typography);
  @include angular-material-typography($custom-typography);
  @include mat-core($custom-typography);
  height: 100%;
}

.angular-universal-theme-dark {
  $theme: $angular-universal-theme-dark;
  @include angular-material-theme($theme);
  @include mat-theme-general-mixin($theme);
  @include mat-grid-mixin($theme);
  @include mat-overlay-container-mixin($theme);
  @include mat-base-typography($custom-typography);
  @include mat-checkbox-typography($custom-typography);
  @include angular-material-typography($custom-typography);
  @include mat-core($custom-typography);
  height: 100%;
}