@import '~@angular/material/theming';
@include mat-core();
@import '~material-design-icons/iconfont/material-icons.css';

$custom-typography: mat-typography-config(
    // $font-family:   'Raleway, sans-serif',
    $font-family:   'Roboto, Helvetica Neue, sans-serif',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(34px, 40px, 400),
    $headline:      mat-typography-level(24px, 32px, 400),
    $title:         mat-typography-level(20px, 32px, 500),
    $subheading-2:  mat-typography-level(18px, 28px, 400),
    $subheading-1:  mat-typography-level(18px, 24px, 400),
    $body-2:        mat-typography-level(18px, 24px, 500),
    $body-1:        mat-typography-level(18px, 20px, 400),
    $caption:       mat-typography-level(18px, 20px, 400),
    $button:        mat-typography-level(18px, 16px, 500),
    $input:         mat-typography-level(inherit, 1.125, 400)
);


$angular-universal-primary: mat-palette($mat-grey, 900, 800, 700);
$angular-universal-accent: mat-palette($mat-blue);
$angular-universal-warn: mat-palette($mat-red);
$angular-universal-theme: mat-light-theme(
	$angular-universal-primary,
	$angular-universal-accent,
	$angular-universal-warn
);

$angular-universal-theme-dark: mat-dark-theme(
  $angular-universal-primary,
  $angular-universal-accent,
  $angular-universal-warn
);

$material-icons-codepoints: () !default; /* Sass map of icon names and codepoints */
$material-icons-font-path: '' !default;
$material-icons-font-name: 'MaterialIcons-Regular' !default;
$material-icons-font-size: 24px !default;
$material-icons-font-family: 'Material Icons' !default;

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  //color: mat-color($angular-universal-primary);
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

@mixin mat-theme-general-mixin($theme) {
  $primary: map-get(
    $map: $theme,
    $key: primary
  );

  .mat-toolbar {
    &.sticky-toolbar {
      position: sticky;
      position: -webkit-sticky; /* For macOS/iOS Safari */
      top: 0; /* Sets the sticky toolbar to be on top */
      z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
    }
  }
  

  .app-container {
    display: flex;
    flex-direction: column;

    .app-toolbar {
      background-color: mat-color($primary, 500);
      color: mat-contrast($primary, 500);
      @include mat-elevation(6);
      z-index: 2;

      .app-name {
          margin-left: 8px;

          .logo {
            text-decoration: none;
            color: inherit;
          }
        }

        .flex-fill-remaining-space {
          /* This fills the remaining space, by using flexbox. 
             Every toolbar row uses a flexbox row layout. */
          flex: 1 1 auto;
        }
    }

    .sidenav-container {
      /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
         causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
      flex: 1;
    }

    .is-mobile {
      .app-toolbar {
        position: fixed;
        /* Make sure the toolbar will stay on top of the content as it scrolls past. */
        z-index: 2;
      }
      .sidenav-container {
        /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
           `<body>` to be our scrolling element for mobile layouts. */
        flex: 1 0 auto;
      }
    }

    .accent-card {
      @include app-component-accent();
    }

    .primary-card {
      @include app-component-primary();
    }

    .responsive-images img {
        max-width: 100%;
        height:auto;
    }

    .container-content {
      max-width: 1200px;
      padding:10px;
      margin: 0 auto;
    }

    .jumbotron {
      // Use mat-color to extract individual colors a palette.
      // @include app-component-accent();
      // @include app-component-gradient();
      position: relative;
      width:100%;
      min-height: 30vh;
      text-align: center;
      padding-bottom: 30px;

      button {
        min-width: 150px;
        margin: 10px;
      }
    }
  }
}

@mixin mat-overlay-container-mixin($theme) {
  $primary: map-get(
    $map: $theme,
    $key: primary
  );

  mat-dialog-container {
    padding: 24px 5px;

    .mat-dialog-title, .mat-dialog-actions {
      /*display: inline-flex;*/
    }

    .mat-dialog-actions {
      justify-content: flex-end;
    }
  }
}

@mixin mat-grid-mixin($theme) {
  $primary: map-get(
    $map: $theme,
    $key: primary
  );

  app-grid {
    .grid-wrapper {
      position: relative;
      
      mat-grid-list {
        mat-grid-tile {
          background-color: mat-color($primary, 500);
          color: mat-contrast($primary, 500);
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
          filter: grayscale(100%);
          -webkit-filter: grayscale(100%);
          transition: all 0.5s ease;

          &:hover {
            filter: grayscale(0%);
            -webkit-filter: grayscale(0%);
          }

          figure {
            &:hover {
              filter: grayscale(0%);
              -webkit-filter: grayscale(0%);
            }
          }

        }
      }

      app-loading {
        display: none;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
        align-items: flex-end;
        justify-content: center;
        transition: all 1.5s ease;

        mat-progress-bar, mat-progress-spinner {
          opacity: 0.5;
        }

        &.activated {
          display: flex;
        }
      }
    }
  }
}

@mixin app-component-accent($theme: $angular-universal-theme, $primary: map-get($angular-universal-theme, primary), $accent: map-get($angular-universal-theme, accent), $warn: map-get($angular-universal-theme, warn),  $background: map-get($angular-universal-theme, background),  $foreground: map-get($angular-universal-theme, foreground)) {
  background: mat-color($accent, default);
  color: mat-color($accent, default-contrast);
  @content;
}

@mixin app-component-primary($theme: $angular-universal-theme, $primary: map-get($angular-universal-theme, primary), $accent: map-get($angular-universal-theme, accent), $warn: map-get($angular-universal-theme, warn),  $background: map-get($angular-universal-theme, background),  $foreground: map-get($angular-universal-theme, foreground)) {
  background: mat-color($primary, default);
  color: mat-color($primary, default-contrast);
  @content;
}

@mixin app-component-gradient($theme: $angular-universal-theme, $primary: map-get($angular-universal-theme, primary), $accent: map-get($angular-universal-theme, accent), $warn: map-get($angular-universal-theme, warn),  $background: map-get($angular-universal-theme, background),  $foreground: map-get($angular-universal-theme, foreground)) {
  background: linear-gradient(-45deg, mat-color($accent, 50), mat-color($accent, 900), mat-color($primary, 50), mat-color($primary, 900));
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  @content;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}